{{ define "footer.tmpl"}}
<footer class="text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3">
        © {{ .year}} Copyright:
        <a class="text-dark" href="https://github.com/yhy0" target="_blank">yhy</a>
    </div>
    <!-- Copyright -->
</footer>
{{end}}